
          body{
            background-color: rgb(206, 141, 0);
          }
            #parent1{
              background-color: rgb(216, 231, 231);
                background-image: url("pngegg\ \(1\).png");
                position: relative;
                left: 33%;
                top: 100px;
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                height: 500.8px;
                width: 508.5px;
                border-radius: 350px;
                margin-left:486 ;
            }
     #h{
         position: absolute;
         top: 33%;
         left:50%;
         width: 0.75%;
         height: 15%;
         background-color: rgb(0, 0, 0);
           border-radius: 10px;
           transform-origin: bottom;
        }
        #min{
         position: absolute;
         top: 28%;
         left:50%;
         width: 0.5%;
         height: 20%;
         background-color: rgb(0, 0, 0);
           border-radius: 10px;
           transform-origin: bottom;
         
           
        }
        #sec{
         position: absolute;
         top: 25%;
         left:50.5%;
         width: 0.2%;
         height: 23%;
         background-color: rgb(233, 0, 0);
           border-radius: 10px;
           transform-origin: bottom;
         
           
        }

        